<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/form" method="get">

    <div class="input-group input-group-sm">
        <span class="input-group-addon" id="sizing-addon1">@</span>
        <input type="text" class="form-control" placeholder="name" aria-describedby="sizing-addon3">
    </div>
    <div class="input-group input-group-sm">
        <span class="input-group-addon" id="sizing-addon2">@</span>
        <input type="text" class="form-control" placeholder="age"  aria-describedby="sizing-addon3">
    </div>
    <div class="input-group input-group-sm">
        <span class="input-group-addon" id="sizing-addon3">@</span>
        <input type="text" class="form-control" placeholder="email" aria-describedby="sizing-addon3">
    </div>

    <button type="submit" class="btn btn-danger " data-toogle="button" > 提交 </button>
    <button type="reset" class="btn btn-primary"> 重置</button>

</form>


</body>
</html>